<div class="md:max-w-5xl container">
  <div class="contact md:my-10 py-6 mx-auto my-6 text-center border rounded">
    <h3 class="contact__header">Contact me</h3>
    <a href="mailto:luke.mccrone@imperial.ac.uk"
      class="inline-block text-white font-bold bg-blue-600 hover:bg-blue-700 text-sm rounded px-5 py-2.5">
      Email
    </a>
    <a href="/meet"
      class="inline-block text-white font-bold bg-blue-600 hover:bg-blue-700 text-sm rounded px-5 py-2.5">
      Schedule a call
    </a>
  </div>
</div>
