---
layout: base
permalink: /
eleventyNavigation:
  key: Home
  order: 1
---

{# Hero #}
<div class="bg-slate-800 text-white">
  <div class="max-w-4xl mx-auto">
    <div class="px-4 py-8 text-lg">
      <div class="hero">
        {# Image #}
        <div class="hero__image">
          {% image '_assets/images/me.png', "Me", "", "", "(max-width: 767px) calc((100vw - 32px - 16px) * 2 / 7), (max-width: 1120px) calc((100vw - 40px - 16px) * 2 / 7), 288px" %}
        </div>
       <div class="hero__main-text">
 <h1 class="md:leading-normal md:text-4xl text-3xl font-bold leading-normal">
    Higher Education Researcher
  </h1>
</div>
        <div class="hero__secondary-text">
          <p class="mb-4">I help universities create the best experiences for their students. My work focuses on designing and evaluating <a class="shadow-red-400" href="https://www.imperial.ac.uk/stories/shaping-student-spaces/">learning spaces</a> that promote active learning and enhance <a class="shadow-green-400" href="https://www.imperial.ac.uk/education-research/our-work/sense-of-belonging/social-ties-and-student-lives-project/">student sense of belonging</a>.</p>
          <p>Explore my <a href="/publications">publications</a>, <a href="/blog">blog</a> or <a href="mailto:luke.mccrone@imperial.ac.uk">get in touch</a>.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto max-w-4xl px-4">

 <div class="md:my-12 my-10">
    <h2 class="text-3xl font-bold leading-normal mb-4">The challenge</h2>
    <p>
      Universities are evolving to meet the demands of a rapidly changing world. From digital transformation to new teaching models, creating inclusive, engaging and effective learning environments has never been more critical.
    </p>
  </div>

  <div class="md:my-12 my-10">
    <h2 class="text-3xl font-bold leading-normal mb-4">My role</h2>
    <p>
      As a Research Associate in the Centre for Higher Education Research and Scholarship at Imperial College London, I work with colleagues from across the sector to understand how learning spaces and student communities shape engagement, belonging and social capital development.
    </p>
  </div>

  <div class="md:my-12 my-10">
    <h2 class="text-3xl font-bold leading-normal mb-4">How I can help</h2>
    <p>
      I have always been passionate about partnering with students, educators and other stakeholders to translate research into actionable insights. Context matters, and so what works in one context may not in another.
    </p>
  </div>

{# Contact me #}
{%- include "components/contact.njk" -%}
