---
layout: base
permalink: /
eleventyNavigation:
  key: Home
  order: 1
--- 

{# Hero #}
<div class="bg-slate-800 text-white">
  <div class="max-w-4xl mx-auto">
    <div class="px-4 py-8 text-lg">
      <div class="hero">
        {# Image #}
        <div class="hero__image">
          {% image '_assets/images/me.png', "Me", "", "", "(max-width: 767px) calc((100vw - 32px - 16px) * 2 / 7), (max-width: 1120px) calc((100vw - 40px - 16px) * 2 / 7), 288px" %}
        </div>
       <div class="hero__main-text">
 <h1 class="md:leading-normal md:text-4xl text-3xl font-bold leading-normal">
    Higher Education Researcher | Consultant
  </h1>
</div>
        <div class="hero__secondary-text">
          <p class="mb-4">I help universities create the best possible experiences for their students. My expertise lies in the design of <a class="shadow-red-400" href="https://www.imperial.ac.uk/stories/shaping-student-spaces/">learning spaces</a> that improve student experience, strengthen <a class="shadow-green-400" href="https://www.imperial.ac.uk/education-research/our-work/sense-of-belonging/social-ties-and-student-lives-project/">student sense of belonging</a> and support active learning.</p> 
          <p>Explore my <a href="/publications">publications</a>, <a href="https://www.youtube.com/@DrLukeMcCrone">YouTube</a> or <a href="mailto:luke.mccrone@imperial.ac.uk">get in touch</a>.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mx-auto max-w-4xl px-4">

 <div class="md:my-12 my-10">
    <h2 class="text-3xl font-bold leading-normal mb-4">The challenge</h2>
    <p>
      Universities are operating in a period of rapid change, shaped by digital transformation, evolving teaching approaches and changing expectations around student experience. In this context, the effective design and use of learning environments has never been more critical.
    </p>
  </div>

  <div class="md:my-12 my-10">
    <h2 class="text-3xl font-bold leading-normal mb-4">My work</h2>
    <p>
      As a <a href="/https://profiles.imperial.ac.uk/luke.mccrone/about">Research Associate</a> in the Centre for Higher Education Research and Scholarship at Imperial College London, I work with colleagues from across the sector to understand how learning spaces and student communities shape engagement, belonging and social capital development.
    </p>
  </div>

  <div class="md:my-12 my-10">
    <h2 class="text-3xl font-bold leading-normal mb-4">How I can help</h2>
    <p>
      I collaborate with people across the sector to evaluate and reimagine learning spaces. To support this work, I have co-developed a <a href="https://journals.sagepub.com/doi/10.1177/16094069231173781">mixed method approach</a> for understanding student learning across different university contexts. My aim is to help universities make evidence-informed decisions that enhance both the physical environment and the student experience it enables. 
    </p>
  </div>

{# Contact me #}
{%- include "components/contact.njk" -%}
