---
layout: base
permalink: /
eleventyNavigation:
  key: Home
  order: 1
---

{# Hero #}
<div class="bg-slate-800 text-white">
  <div class="max-w-4xl mx-auto">
    <div class="px-4 py-8 text-lg">
      <div class="hero">
        {# Image #}
        <div class="hero__image">
          {% image '_assets/images/me.png', "Me", "", "", "(max-width: 767px) calc((100vw - 32px - 16px) * 2 / 7), (max-width: 1120px) calc((100vw - 40px - 16px) * 2 / 7), 288px" %}
        </div>
        <div class="hero__main-text">
          <h1 class="md:leading-normal md:text-5xl text-3xl font-bold leading-normal">Hi, I'm Luke<span class="lg:inline hidden"> McCrone</span></h1>
          <p class="md:leading-normal md:text-3xl text-2xl font-bold leading-snug">Education researcher, academic, consultant.</p>
        </div>
        <div class="hero__secondary-text">
          <p class="mb-4">I am a researcher and consultant committed to designing the best learning environments for universities. My primary areas of interest lie in <a class="shadow-red-400" href="https://www.imperial.ac.uk/stories/shaping-student-spaces/">learning spaces</a> and <a class="shadow-green-400" href="https://www.imperial.ac.uk/education-research/our-work/sense-of-belonging/social-ties-and-student-lives-project/">student sense of belonging</a>.</p>
          <p>I also write and speak. Check out my <a href="/blog">blog</a>, <a href="/talks">talks</a>, or <a href="/about">get in touch</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  {# Recent posts #}
  <div class="md:my-12 my-10">
    <h2 class="mb-8">Latest posts</h2>
    {% asyncEach post in collections.posts | reverse | limit(4) %}
    {% include "components/postBrief.njk" %}
    {% endeach %}
    <div class="text-right">
      <a class="" href="/blog">See all posts →</a>
    </div>
  </div>

{# Contact me #}
{%- include "components/contact.njk" -%}

<div class="alternatebg py-8">
  <div class="container">
    {# Talks #}
    <div>
      <h2>Talks</h2>
      <p class="mt-2 mb-12">
      Here are some of the talks I have presented over time.<br>
      </p>

      {% asyncEach talk in talks | filterAttr('featured', true) %}
      {% include "components/talkBrief.njk" %}
      {% endeach %}

      <div class="text-right">
        <a class="" href="/talks">See all my talks →</a>
      </div>

    </div>
  </div>
</div>
