---
layout: page
permalink: /publications/
eleventyNavigation:
  key: Publications
  order: 3
---

<div class="container mb-16">
  <h1 class="mb-4">Publications</h1>

  <p>
    I maintain an up-to-date record of my research on 
    <a href="https://orcid.org/0000-0003-4133-1853">ORCID</a>.
  </p>

  <ul class="list-disc pl-5 mt-6 space-y-4">
    <li>
      Streule, M., <strong>McCrone, L.</strong>, Andrew, Y. & Walker, C. W. (2022). 
      <em>Engaging with students as partners in education-space design</em>. 
      International Journal for Students as Partners, 6(2). 
      <a href="https://doi.org/10.15173/ijsap.v6i2.5024">https://doi.org/10.15173/ijsap.v6i2.5024</a>
    </li>

    <li>
      <strong>McCrone, L.</strong>, & Kingsbury, M. (2023). 
      <em>Combining Worlds: A Mixed Method for Understanding Learning Spaces</em>. 
      International Journal of Qualitative Methods, 22. 
      <a href="https://doi.org/10.1177/16094069231173781">https://doi.org/10.1177/16094069231173781</a>
    </li>

    <li>
      <strong>McCrone, L.</strong>, & Kingsbury, M. (2024). 
      <em>An ecological approach to understanding transitions and tensions in complex learning contexts</em>. 
      npj Science of Learning, 9(1), 54. 
      <a href="https://doi.org/10.1038/s41539-024-00267-1">https://doi.org/10.1038/s41539-024-00267-1</a>
    </li>

    <li>
      <strong>McCrone, L.</strong> (2024). 
      <em>Belonging in the ecotone: A case study from a STEM higher education context</em>. 
      In C. K. Howson & M. Kingsbury (Eds.), 
      <em>Belonging and identity in STEM higher education</em> (pp. 101–115). UCL Press. 
      <a href="https://www.uclpress.co.uk/products/220550">https://www.uclpress.co.uk/products/220550</a>
    </li>

    <li>
      Viola, J. K., <strong>McCrone, L.</strong>, & Kingsbury, M. (2026). 
      <em>Beyond belonging: connecting across the STEMM + B student life course</em>. 
      Studies in Higher Education, 1–15. 
      <a href="https://doi.org/10.1080/03075079.2025.2612098">https://doi.org/10.1080/03075079.2025.2612098</a>
    </li>
  </ul>
</div>
